.card:hover {
    border: 1px solid #007ec7 !important;
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
}

.card-body {
    padding: 3rem 0 !important;
}

.card-text {
    padding: 0.3rem 1rem !important;
    font-size: 1rem !important;
}

.card-img-top {
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
}

.overflow {
    overflow: hidden;
}

.card-img-top:hover {
    transform: scale(1.8);
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
}